:root {
  --c-bg: #f5f7fb;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  --c-header-height: 60px;
  --c-left-slide-width: 200px;
  --c-left-slide-close-width: 80px;
}

html.dark {
  --c-bg: #121212;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

body {
  background-color: var(--c-bg);
  --c-header-height: 60px;
  --c-left-slide-width: 200px;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  /* padding: 1rem; */
  /* text-align: center; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }

  code {
    background-color: #f9f9f9;
  }
}
